.agent {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #282828;
  border-radius: 4px;
  user-select: none;
  transition: border-color $transition-default;

  &__title {
    line-height: 1.4;
    font-weight: 500;
    color: #F5F5F5;
    margin-bottom: 20px;
    font-size: 20px;

    @include desktop {
      margin-bottom: 24px;
      font-size: 20px;
    }
  }

  &__text {
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    color: #9B9B9B;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;
    color: #9B9B9B;

    @include tablet {
      gap: 11px;
      margin-bottom: 15px;
    }

    @include desktop {
      gap: 13px;
      margin-bottom: 36px;
    }
  }

  &__list-el {
    position: relative;
    padding-left: 24px;

    &::before {
      position: absolute;
      top: -2px;
      left: 0;
      color: $color-red-text;
      content: ">";
    }
  }

  &__btn {
    margin-top: auto;
    width: 100%;

    @include tablet {
      width: unset;
    }

    @include desktop {
      align-self: flex-start;
    }

    &--full-width {
      width: 100%;
      align-self: unset;
    }
  }
}