.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border: none;
  border-radius: 3px;
  background-color: $color-red;
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: background-color $transition-default, color $transition-default;

  &:hover {
    background-color: darken($color-red, 10%);
  }

  @include tablet {
    padding: 12px 24px;
  }

  &:disabled {
    filter: grayscale(1);
    cursor: not-allowed;
  }

  &--sm {
    padding: 8px 16px;

    @include tablet {
      padding: 10px 16px;
    }
  }

  &--grey {
    background-color: #282828;
    color: rgba(#fff, .3);

    &:hover {
      color: #fff;
    }
  }
}