.case {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  user-select: none;

  &__logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1.84;
    margin-bottom: 20px;
  }

  &__logo {
    display: block;
    max-width: 100%;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;

    @include tablet {
      font-size: 20px;
      line-height: 26px;
    }
    @include desktop {
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 26px;
      min-height: 2.2em;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 24px;

    @include tablet {
    }
    @include desktop {
      margin-bottom: 40px;
    }
  }

  &__link {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    font-family: $font-inter;
    font-size: 16px;
    line-height: 24px;
    color: #2A84FF;

    &::after {
      display: block;
      width: 32px;
      height: 32px;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='16' fill='%23DAECFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5942 15.9999L13.2971 11.7028L14.7113 10.2886L20.4227 15.9999L14.7113 21.7112L13.2971 20.297L17.5942 15.9999Z' fill='%23151515'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      content: "";
      transition: filter $transition-default;
    }

    &:hover {
      color: darken(#2A84FF, 20%);

      &::after {
        filter: brightness(0.95) saturate(2.5);
      }
    }
  }
}