.checkbox {
  display: inline-flex;

  &__input {
    display: none;
  }

  &__label {
    position: relative;
    padding-left: 32px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    color: rgba(#fff, .5);
    cursor: pointer;
    user-select: none;
    transition: color $transition-default;

    &::before {
      position: absolute;
      left: 0;
      display: block;
      top: -2px;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 14px 14px;
      border: 1px solid rgba(#626A76, .24);
      content: "";
      transition: border-color $transition-default, background-color $transition-default;
    }

    &:hover {
      color: $color-white;

      &::before {
        border-color: $color-red;
      }
    }

    .checkbox--error & {
      &::before {
        border-color: #d84a4a;
        animation: shake 0.5s ease-in-out;
      }
    }

    .checkbox__input:checked+&,
    .checkbox__input:checked+&:hover {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.401 2.9996L12.9861 4.58475L5.57126 11.9996L1 7.42844L2.58509 5.8433L5.57126 8.82937L11.401 2.9996Z' fill='white'/%3E%3C/svg%3E");
        background-color: $color-red;
        color: $color-black;
      }
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: $color-red;
    }
  }
}