.footer {
  padding-top: 24px;
  padding-bottom: 32px;

  @include tablet {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      display: block;
    }

    @include desktop {}
  }

  &__logo-link {
    display: inline-block;
    margin-bottom: 18px;

    @include tablet {
      margin-bottom: 12px;
    }
  }

  &__logo {
    display: block;
    max-width: 270px;
  }

  &__bottom-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 400;

    @include tablet {
      flex-direction: row;
    }
  }

  &__text {}

  &__link {
    transition: color $transition-default;

    &:hover {
      color: $color-red-text;
    }
  }
}