.form-group {
  &__input {
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1.5;
    color: $color-text-white;
    border: 1px solid rgba(#fff, .3);
    background-color: rgba(#fff, .05);
    border-radius: 4px;
    transition: border-color $transition-default;


    &:focus {
      outline: none;
      border-color: #fff;
    }

    &::placeholder {
      color: rgba(#fff, .3);
    }

    &--sm {
      padding: 8px 10px;
    }

    &--textarea {
      resize: none;
      height: 118px;
    }

    .form-group--error & {
      border-color: $color-red;
      color: $color-red;

      &::placeholder {
        color: $color-red;
      }
    }
  }

  &__label {
    display: block;
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 500;

    sup {
      margin-left: 3px;
      color: $color-red;
    }
  }

  &__error {
    display: none;
    margin-top: 5px;
    font-size: 13px;
    line-height: 1;
    color: $color-red;

    .form-group--error & {
      display: block;
    }
  }
}