.slider-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;

  &.swiper-pagination-lock {
    display: none;
  }

  .slider-dot {
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    background-color: #D9D9D9;
    transition: background-color $transition-default;

    &--active {
      background-color: $color-blue;
    }
  }
}