.page-case {
  padding-top: 100px;
  padding-bottom: 44px;

  @include tablet {
    padding-top: 105px;
  }

  @include desktop {
    display: grid;
    grid-template: auto / auto 323px;
    grid-gap: 40px;
  }

  &__content-col {}

  &__top-box {
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin-bottom: 40px;

    @include tablet {
      flex-direction: row;
    }
  }

  &__agent-col {
    display: none;

    @include desktop {
      display: block;
    }
  }

  &__agent {
    flex-shrink: 0;

    @include tablet {
      max-width: 323px;
    }

    @include desktop {
      position: sticky;
      top: 100px;
    }

    &--mobile {
      @include desktop {
        display: none;
      }
    }
  }

  &__title {
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 38px;
    color: $color-text-white;

    @include tablet {
      font-size: 35px;
      line-height: 44px;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 40px;
  }

  &__img {
    display: block;
    width: 100%;
    margin: 40px 0;
    border-radius: 4px;
  }

  &__content-box {
    max-width: 670px;

    h2 {
      margin-top: 40px;
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 26px;
      color: $color-text-white;
    }

    p {

      &+p {
        margin-top: 20px;
      }
    }

    ul,
    ol {
      display: flex;
      flex-direction: column;
      gap: 16px;

      li {
        position: relative;
        padding-left: 24px;

        &::before {
          position: absolute;
          top: -2px;
          left: 0;
          color: $color-red-text;
          content: ">";
        }
      }
    }
  }
}