.section-security {
  padding-top: 24px;
  padding-bottom: 24px;

  @include tablet {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @include desktop {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__title-box {
    margin-bottom: 18px;

    @include tablet {
      margin-bottom: 24px;
    }

    @include desktop {
      margin-bottom: 32px;
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__text {
    font-weight: 300;
  }

  &__grid {
    display: grid;
    grid-template: auto / 100%;
    grid-gap: 24px;

    @include tablet {
      grid-template: auto / repeat(3, minmax(0, 1fr));
      grid-gap: 32px;
    }

    @include desktop {}
  }

  &__item {}

  &__item-top {
    display: block;
    margin-bottom: 10px;
  }

  &__item-text {
    font-weight: 300;

    @include tablet {
      max-width: 230px;
    }

    @include desktop {
      max-width: 100%;
    }
  }
}