.section-faq {
  padding-top: 24px;
  padding-bottom: 24px;

  @include tablet {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @include desktop {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__title-box {
    margin-bottom: 24px;
    text-align: center;

    @include tablet {
      margin-bottom: 10px;
    }

    @include desktop {
      margin-bottom: 40px;
    }
  }

  &__title {
    font-size: 24px;

    @include tablet {
      margin-bottom: 8px;
    }

    @include desktop {}
  }

  &__text {
    color: #686868;

    @include desktop {
      font-size: 16px;
    }
  }

  &__faq {
    @include desktop {
      max-width: 872px;
      margin: 0 auto;
    }
  }
}