.section-result {
  padding-top: 24px;
  padding-bottom: 24px;

  @include tablet {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @include desktop {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__title-box {
    margin-bottom: 24px;

    @include tablet {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__text {}

  &__grid {
    display: grid;
    grid-template: auto / 100%;
    grid-gap: 24px;

    @include tablet {
      grid-template: auto / repeat(3, minmax(0, 1fr));
      grid-gap: 32px;
    }
  }

  &__item {}

  &__item-top {
    display: flex;
    align-items: flex-end;
    gap: 24px;
    margin-bottom: 12px;

    @include tablet {
      margin-bottom: 24px;
    }
  }

  &__item-ai {
    color: $color-red-text;
  }

  &__item-human {
    color: #616161;
  }

  &__item-value {
    .section-result__item-ai & {
      margin-bottom: 8px;
      font-size: 56px;
      line-height: 44px;
    }

    .section-result__item-human & {
      margin-bottom: 8px;
      font-size: 32px;
      line-height: 1.4;
    }
  }

  &__item-description {
    display: block;
    font-size: 13px;
    line-height: 1;
    font-weight: 500;
  }

  &__item-text {
    max-width: 300px;
  }
}