.section-trust {
  padding-top: 24px;
  padding-bottom: 24px;

  @include tablet {
    padding-bottom: 40px;
  }
  @include desktop {
    padding-top: 40px;
  }

  &__title {
    margin-bottom: 16px;
    font-family: $font-inter;
    font-size: 16px;
    line-height: 19px;
    color: #A4A4A4;
    text-align: center;

    @include tablet {
      margin-bottom: 28px;
    }
    @include desktop {
      margin-bottom: 16px;
    }
  }

  &__slider {
    max-width: 1160px;
    margin: 0 auto;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__slide-img {
    display: block;
    max-width: 100%;
  }
}