.section-productivity {
  padding-top: 24px;
  padding-bottom: 26px;

  @include tablet {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @include desktop {
    padding-bottom: 62px;
  }

  &__grid {
    @include tablet {
      display: grid;
      grid-template: auto / repeat(2, minmax(0, 1fr));
      grid-gap: 40px;
    }

    @include desktop {}

  }

  &__content {
    margin-bottom: 24px;

    @include tablet {margin-bottom: 0;}
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {}

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__item {}

  &__item-num {
    display: block;
    margin-bottom: 10px;
  }

  &__item-text {
    display: block;
  }
}