.section-other {
  padding-top: 24px;
  padding-bottom: 24px;
  overflow: hidden;

  @include tablet {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @include desktop {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__box {}

  &__title {
    margin-bottom: 40px;
  }

  &__slider {
    &.swiper {
      overflow: visible;
    }
  }
}