.section-agents {
  padding-top:40px;
  padding-bottom: 24px;
  overflow: hidden;

  @include tablet {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @include desktop {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__title-box {
    margin-bottom: 24px;

    @include tablet {
      margin-bottom: 24px;
    }

    @include desktop {
      margin-bottom: 34px;
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__text {}

  &__slider {
    .swiper {
      overflow: visible;
    }
  }

  &__item {
    height: auto;

    @media (max-width: $breakpoint-tablet) {
      border-color: #fff;
    }

    @include desktop {
      border-color: #fff;
    }
  }
}