mixin footer()
	footer.footer
		.footer__container.container
			a.footer__logo-link(href="/" title="На главную")
				img.footer__logo(src="./images/logo.svg" alt="ИИ Коллектив")
			.footer__bottom-row
				p.footer__text ©2025 Коллектив. Все права защищены
				a.footer__link(href="#", target="_blank", rel="nofollow") Политика персональных данных
				a.footer__link(href="#", target="_blank", rel="nofollow") Условия использования