mixin header()
	header.header
		.container.header__container
			a.header__logo-link(href="/" title="На главную")
				img.header__logo(src="./images/logo.svg" alt="ИИ Коллектив")
			button.button.button--sm(type="button", data-modal="callback") Записаться на демо
