mixin header()
	header.header
		.container.header__container
			a.header__logo-link(href="/" title="На главную")
				img.header__logo(src="./images/logo-blue.svg" alt="ИИ Коллектив")
			button.button.button--blue.header__btn.header__btn--desktop(type="button", data-modal="callback") Записаться на демо
			button.button.button--blue.button--header.header__btn.header__btn--mobile(type="button", data-modal="callback") Заказать демо
