mixin modalSuccess()
    .modal.modal--success#modal-success
        .modal__window
            button.modal__close(type="button", aria-label="Закрыть")
            .modal__title-box 
                h2.modal__title Заявка принята
                p.modal__text Мы свяжемся с вами в ближайшее время
            img.modal__img(src="./images/success.svg", alt="")