mixin modalSuccess()
    .modal.modal--success#modal-success
        .modal__window
            button.modal__close(type="button", aria-label="Закрыть")
            h2.modal__title Сообщение отправлено
            p.modal__text Мы свяжемся с вами в ближайшее время