mixin modalCallback()
    .modal.modal--callback#modal-callback
        .modal__window
            button.modal__close(type="button", aria-label="Закрыть")
            .modal__title-box
                h2.modal__title Напишите нам
            form.modal__form(action="/")
                // form-group
                .form-group.form-group--required
                    label.form-group__label(for="name") ФИО
                        sup.form-group__label-required *
                    input.form-group__input#name(type="text", name="name", placeholder="Михаил Михайлович Михаилов")
                    span.form-group__error Обязательное поле
                .modal__form-row
                    // form-group
                    .form-group.form-group--required
                        label.form-group__label(for="company") Название компании
                            sup.form-group__label-required *
                        input.form-group__input#company(type="text", name="company", placeholder="Сапсан")
                        span.form-group__error Обязательное поле
                    // form-group
                    .form-group.form-group--required
                        label.form-group__label(for="job") Должность
                            sup.form-group__label-required *
                        select.form-group__input#job(type="text", name="job", placeholder="Ваша должность")
                            option Консультант
                            option Директор
                            option Сотрудник
                        span.form-group__error Обязательное поле
                .modal__form-row
                    // form-group
                    .form-group.form-group--required
                        label.form-group__label(for="phone") Телефон
                            sup.form-group__label-required *
                        input.form-group__input#phone(type="tel", name="phone")
                        span.form-group__error Обязательное поле
                    // form-group
                    .form-group.form-group--required
                        label.form-group__label(for="email") E-mail
                            sup.form-group__label-required *
                        input.form-group__input#email(type="email", name="email", placeholder="mail@your-mail.ru")
                        span.form-group__error Обязательное поле
                // form-group
                .form-group.form-group--required.modal__order-textarea
                    label.form-group__label(for="message") Ваше обращение
                        sup.form-group__label-required *
                    textarea.form-group__input.form-group__input--textarea#message(name="message", placeholder="Здравствуйте!\n" +
                        "Хочу заказать демо звонок!")
                    span.form-group__error Обязательное поле

                label.checkbox.modal__order-checkbox
                    input.checkbox__input(type="checkbox", name="agreement", value="agree", checked)
                    span.checkbox__label Соглашаюсь с
                        |
                        |
                        a(href="#", target="_blank", rel="nofollow") условиями и правилами
                        |
                        |
                        |обработки персональных данных
                
                button.button.modal__submit.modal__order-btn(type="submit") Отправить